body {
    background-color: #0d0d0d;
}
header {
    background-color: #404040;
    color: #f2f2f2;
    text-align: center;
}

#bannerSlogan h1 {
    /*color: #d93030;*/
    font-size: 30px;
    
}

#bannerSlogan h1 span {
    color: #ffd700;
}

main {
    background-color: #404040;
}

.infoTitle {
    /*color: #d93030;*/
    border-top: 2px solid #0d0d0d;
    border-bottom: 2px solid #0d0d0d ;
    /*border-top-color: black;
    border-bottom-color: black;*/
    padding: 3px;
    
    
}

.infoDesc {
    color: #f2f2f2;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 27px;
    color: #d93030;
}

h1, h4 {
    color: #d93030;
}

h2 {
    /*color: #404040;*/
    color: #f2f2f2;
    text-align: center;
}
h3 {
    color: #ffd700;
}

p {
    color: #f2f2f2;
}


/*Navigation styling*/
a {
    color: #f2f2f2;
    font-weight: bold;
    text-decoration: none;
    
}

a:hover, a:active, a:focus {
    background-color: #0d0d0d;
    color: #ffd700;
    text-decoration: underline;
    font-size: 22px;
}

.active {
    color: #ffd700;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
}

nav ul {
    background-color: #0d0d0d;
    /*border-top: 3px solid black;
    border-bottom: 3px solid black;*/
    
}
nav ul li {
        display: inline-block;
        
}

nav ul li a {
    padding: 20px;
    display: block;
    
}
nav


/*Contact list styling*/

#contact ul li {
    text-align: center;
    list-style-type: none;
}

#contact ul li a {
    padding: 12px;
    display: block;
}

#contact ul li a:hover {
    background-color: #404040;
}

/*#contact ul*/ #listItemOne /*#listItemTwo,*/  {
    /*background-color: crimson;*/
    border-top: 3px solid #0d0d0d;
    border-bottom: 3px solid #0d0d0d;
}

#listItemThree {
    border-top: solid #0d0d0d;
}

#listItemOne, #listItemTwo, #listItemThree {
    text-align: center;
    list-style-type: none;
    font-size: 20px;
}




/*floats for Team page*/
#rightColumn {
    width: 25%;
    float: right;
}

#leftColumn {
    width: 72%;
    border-right: solid white 2px;
    float: left;
    padding-right: 1em;
}