body {
    background-color: #0d0d0d;
    background: url(../images/backround-img1.jpg) no-repeat center fixed;
    background-size: cover;
    margin: 26px;
}
header {
    background-color: #404040;
    color: #f2f2f2;
    text-align: left;
}

#bannerSlogan h1 {
    /*color: #d93030;*/
    font-size: 30px;
    text-align: left;
    vertical-align: text-bottom;
    
}
#bannerSlogan #headerOverlay {
    background-image: url(../images/mlb_baseball.jpg);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: 4% center;         
}

#bannerSlogan h1, #bannerSlogan p{
    margin: 7px 0 7px 150px;
}

#bannerSlogan h1 span {
        color: #ffd700;
        font-family: 'Grenze Gotisch', cursive;
}

main {
    background-color: rgba(64,64,64, .6); 
}

.infoTitle {
    /*color: #d93030;*/
    border-top: 2px solid #0d0d0d;
    border-bottom: 2px solid #0d0d0d ;
    /*border-top-color: black;
    border-bottom-color: black;*/
    padding: 3px;
    
    
}

.infoDesc {
    color: #f2f2f2;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 27px;
    color: #d93030;
    font-family: 'Cinzel', serif;
}

h1, h4 {
    color: #d93030;
}

h2 {
    /*color: #404040;*/
    color: #f2f2f2;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
}
h3 {
    color: #ffd700;
    font-family: 'Cinzel', serif;
}
h4 {
    font-family: 'Cinzel Decorative', cursive;
}


p {
    color: #f2f2f2;
    font-family: 'Abel', sans-serif;
}


/*Navigation styling*/
a {
    color: #f2f2f2;
    font-weight: bold;
    text-decoration: none;
    
}

a:hover, a:active, a:focus {
    background-color: #0d0d0d;
    color: #ffd700;
    text-decoration: underline;
    font-size: 22px;
}

.active {
    color: #ffd700;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
}

nav ul {
    background-color: #0d0d0d;
    /*border-top: 3px solid black;
    border-bottom: 3px solid black;*/
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
}
    

nav ul li {
        display: inline-block;
        
}

nav ul li a {
    padding: 20px;
    display: block;
    
}
nav


/*Contact list styling*/

#contact ul li {
    text-align: center;
    list-style-type: none;
}

#contact ul li a {
    padding: 12px;
    display: block;
}

#contact ul li a:hover {
    background-color: #404040;
}

/*#contact ul*/ #listItemOne /*#listItemTwo,*/  {
    /*background-color: crimson;*/
    border-top: 3px solid #0d0d0d;
    border-bottom: 3px solid #0d0d0d;
}

#listItemThree {
    border-top: solid #0d0d0d;
}

#listItemOne, #listItemTwo, #listItemThree {
    text-align: center;
    list-style-type: none;
    font-size: 20px;
}




/*floats for Team page*/
#rightColumn {
    width: 25%;
    float: right;
}

#rightColumn ul li {
    font-family: 'Cinzel', serif;
        
}

#leftColumn {
    width: 72%;
    border-right: solid white 2px;
    float: left;
    padding-right: 1em;
}

/*float and clear for company logo
    .companyLogo {
    float: left;
    width: 40%;
    padding-right: 1em;
    border-right: solid white 5px;


#cssLeftLogo {
    border-right: solid white 5px;
}*/



.clear {
    clear: both;
}


header img {
    float: left;
    /*margin: 1.5em;*/
}



